<div class="p-8 m-3 flex flex-row justify-around border">
    <div>
        <span>Store Location</span>
        <ul>
            <li>

            </li>
        </ul>
    </div>
     <div>
        <span>Store Location</span>
        <ul>
            <li>

            </li>
        </ul>
    </div>
     <div>
        <span>Store Location</span>
        <ul>
            <li>

            </li>
        </ul>
    </div>
     <div>
        <span>Store Location</span>
        <ul>
            <li>

            </li>
        </ul>
    </div>
</div>