<mat-toolbar color="primary" style=" display: flex; flex-direction: row; justify-content: space-between; position: fixed; top: 0; left: 0; z-index: 50; font-size: 14px; ">
    <!-- <img src="https://pngtree.com/freepng/online-shop-logo-design_4847480.html" alt=""> -->
    <button (click)="drawer.toggle()">
        <mat-icon >menu</mat-icon>
    </button>
    <nav>
       <ul  class=" hidden  lg:flex flex-row gap-3 overflow-x-auto">
                <li *ngFor="let link of links" class="w-full text-white rounded hover:bg-[#7643ce]" (click)="drawer.close()" >
                    <a routerLink="{{link.link}}" class="w-full p-1 px-3 block ">{{link.name}}</a>
                </li>
            </ul>
    </nav>
    <ul class="pl-1 flex flex-row gap-4">
        <li *ngIf="!loggedIn"><a routerLink="/login" mat-raised-button>login</a></li>
        <li *ngIf="loggedIn" (click)="logout()"><button mat-raised-button>logout</button></li>
        <li class="mt-2"><a routerLink="/"><mat-icon>shopping_cart</mat-icon></a></li>
    </ul>
  </mat-toolbar>
<mat-drawer-container class="example-container" style="position: static ;top: 0; left: 0; ">
        <mat-drawer   style="padding-top: 1rem; width: 15rem;  position: fixed; top: 0; left: 0; background-color: #673ab7; z-index: 50;" #drawer mode="side" >
            <mat-icon class="ml-4 mt-1 cursor-pointer text-white" (click)="drawer.close()" >close</mat-icon>
            <br>
            <br>
            <mat-divider></mat-divider>
            <ul  class="flex flex-col gap-3 overflow-x-auto">
                <li *ngFor="let link of links" class="w-full text-white rounded hover:bg-[#7643ce]" (click)="drawer.close()" >
                    <a routerLink="{{link.link}}" class="w-full p-2 px-3 block ">{{link.name}}</a>
                </li>
            </ul>
        </mat-drawer>
</mat-drawer-container>
