<!-- Home top -->

<div
  class="w-screen p-4  h-[70vh] max-md:h-[50vh] flex flex-row no-wrap gap-0 md:gap-8 justify-around items-center bg-[#c8c8c8]"
>
 <div class="lg:w-[30rem] w-[40rem]">
     <h1 style="font-size: 4vmax; line-height: 4vmax;">
    Best Prices Incredible Prices on All Your Favorite Items
  </h1>
  <button mat-raised-button color="primary">Shop now</button>
 </div>
  <img
    src="../../../assets/phone.png"
    alt=""
    class="h-[80%] md:h-[100%] min-w-[150px] object-contain"
  />
</div>

<!-- section 1 -->

<div class="py-8 flex md:flex-row flex-col gap-y-4 justify-around items-center">
  <div class="hording">
    <div>
        <h3 id="headings">Upto 60% on Best selling smartphones</h3>
        <button mat-raised-button>Shop now</button>
    </div>
      <img src="https://static.wixstatic.com/media/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg/v1/fill/w_584,h_468,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg" alt="">
  </div>
    <div class="hording">
        <div>
        <h3 id="headings">Do your work from anywhere with best selling laptops</h3>
        <button mat-raised-button>Shop now</button>
    </div>
        <img src="https://static.wixstatic.com/media/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg/v1/fill/w_584,h_468,al_t,q_80,usm_0.66_1.00_0.01,enc_auto/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg" alt="">
    </div>
</div>

<!-- section 2 for best selling items -->

<bestselling></bestselling>
<category></category>
<newsletter></newsletter>