<mat-card class=" m-auto mt-8 p-2 w-[26rem] min-h-48 max-h-max border rounded-md text-[12px] ">
  <mat-card-header>
    <mat-card-title class="p-2 py-2 text-center">Register here</mat-card-title>
  </mat-card-header>
<mat-card-content>
    <form [formGroup]="form" class="flex flex-col gap-7"  (ngSubmit)="onSubmit()">
        <div class="input-controller" class="px-4 h-16 flex flex-col">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" autofocus class=" p-2 border outline-sky-400 text-[16px] font-normal tracking-wide">
            <div *ngIf="name && name.touched" class="error-box flex flex-col text-[11px] text-red-600" >
                <span *ngIf="name.errors?.['required'] ">Enter name</span>
                <span *ngIf="name?.errors?.['pattern'] ">name length should be min 3 letter</span>
            </div>
        </div>
        <div class="input-controller" class="px-4 h-16 flex flex-col">
            <label for="phone">Phone</label>
            <input type="text" id="phone" maxlength="10" formControlName="phone" class=" p-2 border outline-sky-400 text-[16px] font-normal tracking-wide" >
            <div *ngIf="phone && phone.touched " class="error-box flex flex-col text-[11px] text-red-600">
                <span *ngIf="phone.errors?.['required'] ">Enter phone</span>
                <span *ngIf="phone.errors?.['pattern'] ">Enter valid Indian phone number</span>
            </div>
        </div>
        <div class="input-controller" class="px-4 h-16 flex flex-col">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" class=" p-2 border outline-sky-400 text-[16px] font-normal tracking-wide" >
            <div *ngIf="email && email.touched" class="error-box flex flex-col text-[11px] text-red-600">
                <span *ngIf="email.errors?.['required'] ">Enter email</span>
                <span *ngIf="email.errors?.['minlength'] || email.errors?.['pattern'] ">email length  </span>
            </div>
        </div>
        <div class="input-controller" class="px-4 h-16 flex flex-col">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class=" p-2 border outline-sky-400 text-[16px] font-normal tracking-wide" >
            <div *ngIf="password && password.touched" class="error-box flex flex-col text-[11px] text-red-600">
                <span *ngIf="password.errors?.['required'] ">Enter password</span>
                <span *ngIf="password.errors?.['minlength'] || password.errors?.['pattern'] "> Password length should be min 6 </span>
            </div>
        </div>
        
          <button mat-raised-button [disabled]="form.status === 'INVALID'" color="primary" style="margin: auto; width: 90%;">Register</button>
    </form>
</mat-card-content>
<mat-card-actions>
    <a routerLink="/login" class="pl-6 text-sm underline">Already have an account ?</a>
</mat-card-actions>
</mat-card>